/* header 좌측 정렬 */
/* .header {
  background-color: #fff; 
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; 
} */

/* header 중앙 정렬 */
.header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: -1rem;
}

.icon {
  margin-right: 0.3rem;
  color: #666;
}

.num-text {
  line-height: 1;
  padding-top: 0.3rem;
  font-size: 1rem;
  color: #666;
}

.status-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.header-info {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.seat-status {
  margin-top: 15px;
}

.status-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.status-dot {
  aspect-ratio: 1 / 1; /* 정사각형 비율 유지 */
  width: 1em;
  height: 1em;
  border-radius: 30%;
  margin-right: 10px;
}

.status-text {
  font-size: 1rem;
  color: #666;
}

.available {
  background-color: #28a745;
}

.reserved {
  background-color: #ffc107;
}

.occupied {
  background-color: #dc3545;
}

.row {
  display: flex;
  justify-content: center; /* 좌석들을 행의 시작 부분에서 정렬 */
}

/* 좌석 스타일 */
.seat,
.empty {
  aspect-ratio: 1 / 1;
  width: 1em; /* viewport 너비의 5% */
  height: 1em; /* viewport 너비의 5% */
  min-width: 45px;
  min-height: 45px;
  margin: 0.5vw; /* viewport 너비에 따른 마진 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #333;
  border-radius: 20%;
}

.seat {
  background-color: #28a745;
  cursor: pointer;
}

.seat.reserved {
  background-color: #ffc107;
}

.seat.occupied {
  background-color: #dc3545;
}

.seat.unknown {
  background-color: #d3d3d3;
}

.empty {
  background-color: transparent;
}

.wrapper {
  max-width: 90%;
  min-width: 30em;
  margin: auto;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.title {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.card {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  border: 2px solid #d6d6d6;
  position: relative;
}
