.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 1.5rem;
}

.card {
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.skku-image {
    object-fit: cover;
    height: auto;
    max-width: 100%;
  }

  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 1;
  }