.intro-container {
  background-color: rgb(27, 50, 28);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  padding: 20px;
  text-align: center;
}

.title-image {
  width: 80%; 
  max-width: 350px;
}

.logo-image {
  width: 40%; 
  max-width: 300px;
  margin-bottom: 20px; 
}

.team-image {
  width: 12%; 
  max-width: 300px;
  position: absolute;
  bottom: 40px;
}

.skku-image {
  width: 10%; 
  max-width: 300px;
  position: absolute;
  bottom: 23px;
}

