

.waiting-list-interface {
  font-family: 'Arial', sans-serif;
  /* margin: 20px auto; */
  padding: 20px;
  display: flex;
  flex-direction: column; /* 자식 요소들을 세로로 나열 */
  justify-content: center; /* 수직 방향으로 중앙 정렬 */
  align-items: center; /* 수평 방향으로 중앙 정렬 */
}

.waiting-card {
  width: 30rem;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  max-width: 60rem;
  min-width: 20rem;
}

.waiting-card .location {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  text-align: center;
}

.waiting-card .location .building-name {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.waiting-card .location .address-info {
  font-size: 16px;
  margin-bottom: 5px;
}

.waiting-card .queue-status {
  display: flex;
  align-items: center; 
  text-align: left;
  font-size: 1.2em;
  color: #28a745;
}

.waiting-card .take-seat-button{
  display: block;
  width: 30%;
  padding: 10px;
  font-size: 1em;
  color: white;
  margin-left: 0;
  background-color: #28a745;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.waiting-card .status-and-action {
  display: flex;
  justify-content: space-between;
}

.address-container {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-top: 1rem;
}

.location-icon, .person-icon {
  margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 */
  color: #666;
  display: flex; 
  align-items: center;
}

.person-icon {
  stroke-width: 0.5rem; 
}

.address-info {
  display: flex; 
  align-items: center; 
  line-height: normal;
  margin-top: 0;
}


/* 주황색 배경 및 흰색 글씨 스타일 */
.take-seat-button.orange {
  background-color: orange;
}

/* 빨간색 배경 및 흰색 글씨 스타일 */
.take-seat-button.red {
  background-color: #dc3545;
}


/* 글씨 색상 변경 */
.queue-status.orange span {
  color: orange;
}

.queue-status.red span {
  color: #dc3545;
}

/* 반응형 사이즈) 태블릿 / 모바일 */
@media (max-width: 1224px) {
.waiting-card .location .building-name {
  font-size: 1.3rem;
}

.waiting-card .location .address-info {
  font-size: 14px;
  margin-left: -10px;
}

/* .waiting-list-interface .waiting-card {
  width: 80%; 
  padding: 10px; 
}


.waiting-list-interface .take-seat-button {
  width: 40%;
  font-size: 0.8rem;
} */

.take-seat-button {
  width: 40%;
  font-size: 0.8rem;
}

.waiting-card .queue-status {
  font-size: 1em; 
  margin-right: auto; 
  margin-left: 0;
}

.waiting-card .status-and-action {
  flex-direction: row;
  justify-content: flex-start; 
  align-items: center;
}

}

