.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -5px 5px -5px #ddd;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .navigation {
        width: 90%;
    }
}

body, .page-content { 
    padding-bottom: 5rem;
}

@media (max-width: 768px) {
    body, .page-content {
        padding-bottom: 5rem; 
    }
}
